@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-go-big {}

body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
}

/* Hide scrollbar for Webkit-based browsers */
body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}